#searchbox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    border-radius: var(--radius);
    background: var(--entry);
    border: 1px solid var(--border);
}

#searchbox input:focus {
    border-color: var(--secondary);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    padding: 0px;
    margin: 0px 0;
    position: relative;
    font-weight: 400;
}

#searchResults {
    margin: 0px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 0px solid var(--darkcolor);
}